:root {
  --title-text-color: #212121;
  --accent-color: #f5f4fa;
  --team-background-color: #f5f4fa;
  --primary-bg-color: #ffffff;
  --primary-white-color: #ffffff;
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --footer-background-color: #2f303a;
  --acent-text-color: #2196f3;
  --button-background-color: #2196f3;
  --text-color: #e91717;
  --contacts-text-color: #757575;
  --white-text-color: #ffffff;
  --primary-text-color-group: #757575;
}

/* Body */
body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

/* Contacts */
.contacts,
.contacts.phone {
  color: var(--contacts-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
}
.contacts.adress {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
}
.contacts.mail {
  color: var(--acent-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
}

/* Logo */
.logo:hover,
.logo:focus {
  color: var(--acent-text-color);
}
.web {
  color: blue;
}
.studio {
  color: white;
}

/* Site nav */
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--title-text-color);
}
.site-nav .link.current {
  color: var(--title-text-color);
}

/* Hero */
.hero-title {
  color: var(--primary-white-color);
  background-color: black;
  text-transform: uppercase;
}

.principles-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.principles-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.work-list-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Section */
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

/* Button */
.button {
  background-color: var(--acent-text-color);
  color: var(--white-text-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}

.link:hover,
.link:focus,
.contacts:hover,
.contacts:focus,
.button:active,
.button-portfolio:active {
  color: var(--acent-text-color);
}

.button-portfolio {
  color: var(--primary-text-color);
  background-color: var(--accent-color);
  text-align: center;
  text-align: right;
  text-align: justify;
  left: 495px;
  top: 174px;
}
.button-portfolio:focus,
.button-portfolio:hover {
  background-color: var(--acent-text-color);
  color: var(--white-text-color);
}

.team-section {
  background-color: var(--team-background-color);
}

.team-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 0.84;
  text-align: center;
  letter-spacing: 0.03em;
}

.portfolio-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-group {
  color: var(--primary-text-color-group);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/* Footer */
.footer {
  background: var(--footer-background-color);
}
.foter.comon {
  color: #ffffff;
}
